* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    width: 100vw;
    height : 9.2vh;
    background-color: #0f1111;
    color: white; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("./Photos/amazon_logo.png");
    height: 50px;
    width: 100%;
    /* border: 2px solid white; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }


/* .image {
    background-image: url("./Photos/amazon_logo.png");
    height: 50vh;
    width: 100vh;
    border: 2px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
} */

.border {
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec {
    color: #ffffff;
    /* font-weight: 700; */
    font-size: 1rem; 
    margin-left: 3px;
}

.address-icon {
    display: flex;
    align-items: center;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 570px;
    height: 40px;
    border-radius: 4px;
    margin-left: 1rem;
}

.nav-search:hover {
    border: 2px solid orange;
}
.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

/* Box 4 */
span {
    font-size: 0.7rem;
}

.nav-sec {
    font-size: 0.85rem;
    font-weight: 700;
}

/* box 6 */
.nav-cart {
    display: flex;
    font-size: 0.88rem;
    font-weight: 700;
}
.nav-cart i {
    font-size: 30px;
}
.cart {
    display: flex;
    align-items: end;
}

/* Panal*/

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
    
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/*hero Section*/

.hero-section {
    background-image: url("./Photos/hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 1rem;
}

.hero-message a{
    color: #007185;
}

/*Shop Section*/

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box {
    height: 400px;
    /* border: 2px solid black; */
    width: 23%;
    background-color: #fff;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: #007185;
}

/*Footer*/

footer {
    margin-top: 15px;
}
.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 1.9rem;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3 {
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("./Photos/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    /* background-repeat: no-repeat;
    background-position: center; */

}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.pages{
    padding-top: 25px;
}

.copyright{
    padding-top: 5px;
} 

#footer2{
    height: 100vh;
    width: 100vw;
    background-color:#222F3D;
    padding: 5vw;
}

/* #video{
    height: 50vh;
    width: 40vw;
    border: 2px solid white;
    background-image: url("xyz");
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
  
} */
